body{
    background-color: #333;
}
#canvas{
    border: 1px white solid;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 100px;
    padding:5px 5px;
}
.dropdown:hover .dropdown-content{
    display: block;
}

.grid-container{
    display: grid;
    background-color: #333;
    grid-template-columns: 7fr 3fr;
    grid-template-rows:1fr 3fr 3fr 3fr 1fr;
    gap:20px;
}

.grid-item {
    border: none !important;
    display: flex;
    
    align-items: center;
}

.grid-item-head{
    background-color: #333;
    align-content: center;
    grid-area: 1 / 1 / 2 / 3;
}

.grid-item-head > p{
    text-align: center;
    color:white;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid-item-left{
    grid-area: 2 / 1 / 5 / 2;
    background-color: #333;
}
.grid-item-right1{
    grid-area: 2/ 2 / 3 / 3 ;
    background-color: #333;
    border: 3px solid;
}
.grid-item-right2{
    grid-area: 3/ 2 / 4 / 3 ;
    background-color: #333;
    border: 3px solid;
}
.grid-item-right3{
    grid-area: 4/ 2 / 5 / 3 ;
    background-color: #333;
    border: 3px solid;
}
.grid-item-tail{
    grid-area: 5/ 1 / 6 / 3 ;
    background-color: #333;
    border: 3px solid;
}

#right1container{
    display: inline-grid;
    grid-template-rows: 2fr 1fr;
}

#right1container > h3{
    grid-area: 1/1/2/2;
}

#right1container > div{
    grid-area: 2/1/3/2;
}

#right2container{
    display: inline-grid;
    grid-template-rows: 2fr 1fr;
}

#right2container > h3{
    grid-area: 1/1/2/2;
}

#right2container > div{
    grid-area: 2/1/3/2;
}

h3{
    font-family: fantasy;
    color: white;
}
